<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All new post</title>
</head>
<body>
    
    <form method="post" action="/posts">
        <input type="text" placeholder="username" name="username"> <br> <br>
        <textarea  id="" placeholder="Write some content" name="content"></textarea> <br> <br>
        <button>Submit</button>
    </form>
</body>
</html>