<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here see your detail</h1> 
         <h3>post id: <%= post.id %></h3>

    <div class="post">
        <h4><%= post.username %></h4>
        <p><%= post.content %></p>
    </div>
</body>
</html>